@import "_config";
@import "_mixins";
body {
    padding: 0;
    margin: 0;
    background: white;
}

#mainContent {
    position: relative;
    width: $width;
    height: $height;
    overflow: hidden;
    cursor: pointer;
    transform: rotate(0deg);
    color: $purple;
    border: 1px solid black;
    background: $backgroundColor;
    background-size: cover;
    box-sizing: border-box;
    div,
    img {
        position: absolute;
    }
}

.hide {
    opacity: 0;
}

.bgCircle{
    height: 471px;
    width: 339px;
    background-color: #fbb700;
    border-radius: 50%;
    top: -133px;
    left: -196px;
}

#logo {
    top: 151px;
    left: 142px;
}

#endCopy{
    top: 73px;
    left: 16px;
}

#buttons{
    width:$width;
    background-color: #000;
    bottom:0;
    height:25px;
    opacity:0.55;
}

#mainAnimation {
    width: $width;
    height: $height;
}


#bgExit {
    width: $width;
    height: $height;
    cursor: pointer;
    top: 0;
    left: 0;
}